.about{
  padding:100px 100px;
  background-color: #00263B;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-areas: "about__content about__image";
  align-items: center;
  grid-gap: 50px;
  width: 100%;
}
.produtos{
  display: flex;

  height: 80vh;
  background-color: #E64900;
  overflow: hidden;
}
.imagem img{
  width: 50vw;
}
.bloco-texto{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0 auto;
}
.bloco-texto h1{
  margin-bottom: 40px;

  width: 100%;
  
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-align: start;

}
.bloco-texto p{
  margin-bottom: 60px;

  font-size: 18px;
  max-width: 420px;

  color: #fff;
}
.ht_produtos__link{
  width: 100%;
  text-decoration: none;
}
.ht_produtos__cta-button{
  align-self: flex-start;
  
  background: #00263B;
  border-radius: 20px;
  width: 159px;
  height: 60px;

  filter: drop-shadow(0px 15px 30px rgba(40, 29, 117, 0.25));

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  

}
@media(max-width:500px){
  .about{
    display: flex;
    flex-direction: column;
  }
}
.about__image{ 
  grid-area: about__image;
  text-align: center; 
}
.about__content{ grid-area: about__content; display: flex; justify-content: center; }
.about__content div h2{
  max-width: 500px;

  color: #fff;
}
.about__content span{
  color: #fff;
}

.about__text{
  margin:50px 0; 

  font-size: 1.125rem;
  max-width: 566px;

  max-height: 300px;
  padding-right: 64px;

  color: #fff;
}
.about__text p{
  letter-spacing: 1px;
  line-height: 22px;
  text-align: justify;
  
  padding-right: 64px;
  max-width: 502px;
}
.about__text b,
.about__text strong{ font-family: GothamBold; }

.about__cta a{
  color: #fff;

  background-color: #FF5200 ;

  filter: drop-shadow(0px 15px 30px rgba(40, 29, 117, 0.25));
  
}
@media(min-width:768px){
  .title{
    line-height: 42px;
  }
  .title p {
    line-height: 42px !important;
  }
  
  .about__text--scroll{
    max-height: 400px;
    overflow: auto;
  }
  .about__text--scroll::-webkit-scrollbar {
    width: 5px;
    border-radius: 100px;
    transition: ease-in 0.3s;
  }

  /* Track */
  .about__text--scroll::-webkit-scrollbar-track {
    background: rgba(255, 51, 0, 0.4);
    border-radius: 100px;
    transition: ease-in 0.3s;
  }

  /* Handle */
  .about__text--scroll::-webkit-scrollbar-thumb {
    background: #ff5100;
    
    border-radius: 100px;
  }

  /* Handle on hover */
  .about__text--scroll::-webkit-scrollbar-thumb:hover {
    background: #ff5100e3;
  }
}
.about__text p{ 
  
  margin-bottom: 25px; 
  padding: 0;
}

@media(max-width:767px){
  .about{
    display: flex;
    flex-direction: column;
  }
  .about,
  .regimento,
  .institucional{
    padding:100px 35px;
  }

  .title p {
    line-height: 42px !important;
  }
}
.about p,
.regimento p,
.institucional p{ line-height: 22px; }

.regimento,
.institucional,
.valores{
  padding: 150px 35px;

  color: #ffffff;
  text-align: center;
}
.regimento{ background: #1B3C86; }
.institucional{ background: #2A60D4; }
.valores{ background: #A89939; }
.regimento__download{ margin-top: 45px; }
.regimento__wrapper,
.valores__wrapper{
  max-width: 800px;
  margin:0 auto;
}
.regimento__title{ text-align: center;}
.institucional__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  max-width: 800px;
  margin:0 auto;
}
@media(max-width:750px){
  .institucional__wrapper{
    grid-template-columns: 1fr;
    grid-gap: 100px;
  }
}
.materiais__list{
  margin:10px auto;
  width: 100%;
  max-width: 350px;
  border:1px solid #cccccc;
  border-radius: 5px;
  overflow: hidden;
}
.materiais__item{
  display: block;
  padding:10px;
  border:0;
  border-bottom: 1px solid #cccccc;

  color: #666666;
  text-decoration: none;
  text-align: center;
}
.materiais__item:nth-child(odd){ background-color: #fafafa; }
.materiais__item:hover{ background-color: #eaeaea;}
