.blog__wrapper{
  padding:100px 100px;
  background-color: #1B3C86;

  color: #ffffff;
}
.blog__title{ text-align: center; }
.blog__desc{
  max-width: 750px;
  margin:0 auto;
  margin-bottom: 35px;

  color: #ffffff;
  line-height: 22px;
  text-align: center;
}
.blog__list{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.blog__item{
  width: 30%;
  margin-right: 25px;
  margin-bottom: 50px;
  background:#ffffff;
  border-radius: 15px;
  overflow: hidden;

  text-decoration: none;
}

.blog__thumb{
  width: 100%;
  height: 180px;
  background-position: center;
  background-size: cover;
  display: block;
  background-color: #E8D44F;
}
.blog__item:nth-child(3n){ margin-right: 0; }
.blog__info{
  padding:30px;
}
.blog__info--title{
  margin-bottom: 15px;

  font-size: 1rem;
  text-transform: none;
}
.blog__resume{
  color: #383838;
  font-weight: bold;
  font-size: 0.95rem;
  line-height: 22px;
}
.blog__leia{
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #2A60D4;
  text-decoration: underline;
}
.blog__date{
  margin-top: 25px;

  font-size: 0.85rem;
  font-weight: bold;
  color: #828282;
}
.blog__search{
  display: grid;
  grid-template-columns: auto 120px;
  grid-gap: 10px;
  margin-bottom: 55px;
}
.search__button{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:0;
  border-radius: 15px;
  background-color: #A89939;
  cursor: pointer;

  color: #ffffff;
  font-family: GothamBold;
  text-align: center;
}
.blog__no-post{
   width: 100%;
   display: flex;
   justify-content: center;
}
.blog__no-post--label{
  padding:25px;
  border-radius: 15px;
  background:#ffffff;
  display: table;

  color: #828282;
  font-weight: bold;
  font-size: 1.125rem;
}
.blog__mais{
  display: flex;
  margin-top: 55px;
  justify-content: center;
}
@media(max-width:800px ){
  .blog__item{ width: 40%;  }
  .blog__item:nth-child(3n){ margin-right: 25px; }
  .blog__item:nth-child(2n){ margin-right: 0; }
}
@media(max-width:767px){
  .blog__wrapper{ padding:100px 35px; }
  .blog__item{
    width: 100%;
    margin-right: 0;
  }
  .blog__item:nth-child(3n){ margin-right: 0; }
  .blog__item:nth-child(2n){ margin-right: 0; }
}
/* Posts */

.post{
  padding:100px 0;
  width: 100%;
  max-width: 750px;
  margin:0 auto;
}
.post__title{ color: #2A60D4; }
.post__header{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding:15px;
  border:0;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 35px;
}
.post__author,
.post__date{
  width: 50%;

  color: #828282;
  font-size: 0.875rem;
}
.post__date{ text-align: right; }
.post__author{ font-family: GothamBold; }
.post__image{
  width: 100%;
  padding-bottom: 50%;
  margin-bottom: 35px;
  display: block;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border-radius: 20px;

  text-indent: -9000px;
}
.post p{
  margin-bottom: 35px;

  line-height: 22px;
}
.post p:last-child{ margin-bottom: 0;}
.post ul,
.post ol{
  padding-left: 35px;
  padding-bottom: 35px;
}
.post li{ margin-bottom: 10px;}
.alignleft{
  float: left;
  margin: 15px;
  margin-left: 0;
  margin-top: 0;
}
.alignright{
  float: right;
  display: inline;
  margin-left: 15px;
  margin-top: 0;
  margin-right: 0;
}
.post .aligncenter{
  margin:15px auto;
  display: block;
}

.post blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 25px;
  quotes: "\201C""\201D""\2018""\2019";
}
.post blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.post blockquote p {
  display: inline;
}
@media(max-width:767px){
  .post{
    padding: 20px 35px;
    padding-bottom: 100px
  }
  .post__author,
  .post__date{
    width: 100%;

    text-align: left;
  }
  .post__author{ margin-bottom: 10px;}
}
