.header-produto{
  min-height: 90vh;
  padding-top: 70px;
  margin-bottom: 150px;
}

.header-produto > div{
  display: flex;
  justify-content: space-between;
}

.ht__produto-image-container{
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.ht__produto-image-container a{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 278px;
  height: 53px;

  border-radius: 15px;
  border: 1px solid #4F4F4F;

  margin-bottom: 70px;

  text-decoration: none;
  color: #4F4F4F;
}

.ht__produto-image-container div{
  height: 654px;
  width: 522px;

  background-color: #f2f2f2;

  border-radius: 15px;
}

.ht__produto-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  width: 50vw;


}

.ht__produto-info h1{
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  height: 45px;
  border-bottom: 4px solid #FF5200;

  margin-bottom: 40px;
}

.ht__produto-info > p:nth-child(2){
  max-width: 522px;
  text-align: justify;
  color: #1a1a1a;

  margin-bottom: 40px;
}

.ht__produto-info > p:nth-child(3){
  margin-bottom: 60px;

  max-width: 522px;

  font-weight: 200;
  font-size: 16px;
  line-height: 19px;

  /* Azul */
  color: #00263B;
}

.ht__produto-info div{
  display: flex;
  justify-content: space-around;
  max-width: 522px;

  margin-bottom: 60px;
}

.ht__produto-info div p{
  max-width: 299px;
}

.ht__produto-info div a{
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: #fff;

  width: 192px;
  height: 51px;
/* Verde */
background: #0CAF88;
border-radius: 15px;

margin-right: 31px;

align-self: center;
}

.ht__produto-info .detail{
  font-size: 14px;
  line-height: 24px;
  color: #828282;
}

.ht__produto-desc{
  width: 100vw;
  padding: 5%;
  justify-content: space-around !important;
}
.ht__produto-desc p{
    max-width: 520px;
}

.ht__produto-desc ul{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ht__produto-desc ul li {
  list-style: none;
  border-bottom: 1px solid;
  width: fit-content;
  padding-bottom: 10px;
}