.produto-options-wraper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 80vh;
}

.produto-options-wraper > h1{
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  color: #00263B;
}
.produto-options-wraper p{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;


color: #1A1A1A;

max-width: 630px;
}

.produto-options-wraper p span{
  font-weight: 900;
  text-transform: uppercase;
  color: #FF5200;
}

.produtos-options{
  display: flex;
}
.produtos-options div a{
  display: block;

  width: 522px;
  height: 200px;

  border-radius: 15px;
  margin: 0 20px 20px 0;

  cursor: pointer;
}

.produtos-options div a div{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 38, 59, 0) 23.96%, #00263B 65.62%);
  opacity: 0.8;

  border-radius: 15px;

  display: flex;
  justify-content: start;
  align-items: flex-end;
  
  padding: 0  0 30px 40px;
}

.produtos-options div a div h1{
  position: absolute;
  padding-bottom: 36px;
  

  color: #fff;

  font-size: 36px;
  font-weight: bold;
  
  border-bottom: 4px solid  #FF5200;

}

.ht__card-bovino{
  background-image: url(../image/bovinos.png);
}
.ht__card-pescados{
  background-image: url(../image/pescados.png);
}
.ht__card-frangos{
  background-image: url(../image/frangos.png);
}
.ht__card-suinos{
  background-image: url(../image/suinos.png);
}