@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.home-banner__title{
  text-align: start;
  width: 100%;

}

.home-banner__link{
  margin: 0;
}
.home-banner__item{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.home-banner__item--desktop{
  justify-content: flex-start;
}
.home-banner__content--desktop{
  width: 100vw;
  height: 100%;
  padding:15px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #FFFFFF 13.54%, rgba(255, 255, 255, 0) 100%);
}
.home-banner__wrapper--desktop{
  padding:15px 20vw 15px 15px ;
  margin-left: 20vw;
}
.home-banner__title--desktop{
  margin-bottom: 25px;
  max-width: 400px;

  color:#00263B;;
  font: 600 48px 'Montserrat'
}
.home-banner__title--desktop span:nth-child(1){
  color: #84FF91;
}
.home-banner__title--desktop span:nth-child(3){
  color: #FFB41E;
}
.home-banner__text--desktop{
  margin-bottom: 60px;

  font-size: 16px;
  font-family: Gotham;
  text-shadow: 0 5px 10px rgba(0,0,0,0.15);
  color: #1a1a1a;

  max-width: 413px;
}

.home-banner__link--desktop{
  display:flex;
  width: 210px;
  height: 53px;

  align-items: center;
  justify-content: center;

  background-color: #FF5200;
  border-radius: 15px;
  margin-top: 25px;

  text-decoration: none;
  font-family: GothamBold;
  color: #fff;
}
.home-banner__link--desktop i,
.home-banner__link--mobile i{ margin-right: 15px; }

.home-banner__content--mobile{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #FFFFFF 13.54%, rgba(255, 255, 255, 0) 100%);

}
.home-banner__wrapper--mobile{
  width: 100%;
  padding:20px;
  margin-left: 10vw;
}
.home-banner__title--mobile{
  margin-bottom: 25px;

  margin-bottom: 25px;

  color: #00263B;;
  font: 600 36px 'Montserrat';
}
.home-banner__title--mobile span:nth-child(1){
  color: #84FF91;
}
.home-banner__title--mobile span:nth-child(3){
  color: #FFB41E;
}

.home-banner__text--mobile{
  margin-bottom: 60px;

  font-size: 1rem;
  font-family: Gotham;
  text-shadow: 0 5px 10px rgba(0,0,0,0.15);
  color: #00263B;

  max-width: 250px;

}
.mais-vendidos{
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

          justify-content: space-evenly;

  background-color: #F2F2F2;
}
.mais-vendidos>h1{
  font-size: 28px;
  font-weight: bolder;
  color: #00263B;
}
.cortes-carrossel-wraper{
  width: 80%;
  display: flex;
  margin: 0 auto;
}


.cortes-carrossel-wraper button{
  background: none;
}
.cortes-carrossel{
  display: flex;
  width: 80%;
  margin: 0 auto;

}

.cortes-card{
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  width: 232px !important;
  height: 421px;

  background-color: #fff;
  box-shadow: 5px 10px 20px rgba(196, 196, 196, 0.5);
  border-radius: 10px;
}
.cortes-card h1{
  font-size: 14px;
  font-weight: bold;
  color: #00263B;
}
.cortes-card p {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #828282;
}

.cortes-card > a{
  width: 192px;
  height: 51px;

  background: #00263B;
  border-radius: 15px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
}

.foto-corte{
  width: 192px;
  height: 192px;

  background-color: #f2f2f2;

  border-radius: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-button a {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 142px;
  height: 41px;

  background: #ff5100f8;
  border-radius: 10px;

  color: #fff;
  cursor: pointer;

  transition: all 0.2s;
  
}

.image-button a:hover{
  background: #c94000f8;
  
}
.image-button{
  opacity: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  transition: all 0.2s;

}

.image-button:hover{
  opacity: 1;
  background-color: rgba(26,26,26,0.5);
}


.button_mais-produtos{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 188px;
  height: 51px;

  background: #FF5200;
  border-radius: 15px;

  color: #fff;
  text-decoration: none;
}

@media(max-width:1023px){
 
}
@media(max-width:500px){
  .home-banner--desktop{ display: none !important; }
  .home-banner--mobile{ display: block !important; }

  .slick-dots{
    position: absolute;
    width: 100%;
    display: flex !important;
    justify-content: center;
    bottom: 15px;
    margin: 0 auto;
  }

  .slick-dots li{
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    border-radius: 1000px;
    margin-right: 5px;

    text-indent: -9000px;
  }
  .slick-dots li:last-child{ margin-right: 0;}
  .slick-dots li.slick-active{ background: rgba(255,255,255,1);}
}
@media(min-width:501px){
  .home-banner--desktop{ display: block !important; }
  .home-banner--mobile{ display: none !important; }

  .slick-dots{
    position: absolute;
    height: 100%;
    width: 15px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 5px;
    margin: 0 auto;
  }
  .slick-dots li{
    list-style: none;
    margin-bottom: 5px;
    display: block;
  }
  .slick-dots button{
    display: block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    border-radius: 1000px;
    cursor: pointer;

    text-indent: -9000px;
  }
  .slick-dots button:focus{ outline: none; }
  .slick-dots .slick-active{
    background: rgba(255,255,255,1);
    width: 10px;
    height: 10px;
    border-radius: 1000px;
  }
}